# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Firebase
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
storage.rules

# testing

# production
/build

# misc
package-lock.json
